<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vallsoft.currencyconverter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_activity_currency"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.vallsoft.currencyconverter.CurrencyActivity"
            android:label="@string/title_activity_currency"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".AppFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <provider
            android:name="com.vallsoft.currencyconverter.data.CurrencyProvider"
            android:authorities="com.vallsoft.currencyconverter"
            android:exported="false" />

    </application>

</manifest>